*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    display: block;
    list-style: none;
}
title, style{
    display: none;
}
#title{
    color: white;
    width: 50%;
    text-align: center;
    box-shadow: 0 3px 6px gray;
    border-radius: 3px 3px 0 0;
    margin: 0 auto 40px auto;
}
#time{
    background: gray;
    color: white;
    text-align: center;
    width: 50%;
    box-shadow: 0 3px 6px gray;
    border-radius: 0 0 3px 3px;
    margin:0 auto 10px auto;
}
button{
    border: 0;
    background: lightgray;
    width: 150px;
    height: 30px;
    box-shadow: 0 1px 3px darkgray;
}
button:hover{
    cursor: pointer;
}
button:active{
    background:darkgray;
}
#comp, #post, #temp, #balloonBox, #postAdd, #score, #scoreBoard{
    margin: 5px auto;
    padding: 10px;
    width: 90%;
    background: white;
    box-shadow: 0 3px 6px darkgray;
    border-radius: 3px;
}
#comp, #temp, #balloonBox,#postAdd,#scoreBoard{
    margin-bottom: 60px;
}
hr{
    margin: 5px 0;
}
#root{
    padding: 10px;
    background: linear-gradient(mistyrose,azure);
}
ul{
    width: 80%;
    height: 50px;
    background: white;
    box-shadow: 0 3px 6px darkgray;
    border-radius: 3px;
    margin: 0 auto 40px auto;
}
li{
    float: left;
    margin-left: 40px;
}
#temp>h4{
    float: left;
}
#temp>input{
    margin: 3px 10px 0 10px;
    float: left;
}
#marginTop{
    margin-top: 5px;
}
#marginBottom{
    margin-bottom: 5px;
}
#postAdd>input{
    width: 100%;
}
#postAdd>input:first-child{
    font-size: 25px;
}
#colorBox{
    width: 40px;
    height: 100px;
    float: left;
    margin: 0 5px;
}
#color{
    width: 40px;
    height: 40px;
    box-shadow: 0 0 3px dimgray;
    margin-bottom: 5px;
}
#colorBox>input{
    -webkit-appearance: slider-vertical;
    width: 33%;
    height: 60px;
    float: left;
    cursor: pointer;
}
#add{
    width: 50px;
    height: 100px;
    margin-bottom: 5px;
    padding: 0 20px;
}
#del{
    width: 100%;
    height: 40px;
}
#balloonBox{
    height: 130px;
    width: 90%;
    position: relative;
    overflow: hidden;
}
#balloon{
    width: 100px;
    height: 100px;
    margin: 5px;
    float: left;
    box-shadow: 0 0 3px dimgray;
    text-align: center;
    border-radius: 10%;
    position: absolute;
}
#balloon>h3{
    margin-top: 25%;
}
#pop{
    position: fixed;
    right: 5%;
    width: 90%;
    height: 75%;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 3px dimgray;
    z-index: 100;
    padding: 0 20px;
}
.popUp{
    transition: bottom .3s ease;
    bottom: -5%;
}
.popDown{
    transition: bottom .3s ease;
    bottom: -70%;
}
#pop>div{
    width: 100%;
    border-radius: 10px;
    height: 7%;
    font-size: 200%;
    text-align: center;
    color: lightgray;
    cursor: pointer;
}
#alarm{
    width: 90%;
    height: 50px;
    box-shadow: 0 3px 6px darkgray;
    margin: 0 auto 5px auto;
    position: relative;
    overflow: hidden;
}
#alarmTime{
    float: left;
    margin: 0 20px;
    line-height: 50px;
}
#alarm>button{
    height: 30px;
    margin-top: 10px;
    position: absolute;
    right: 10px;
    width: 70px;
}
#newTime{
    width: 50px;
    margin-left: 25px;
    margin-top: 5px;
    font-size: 32px;
}
#alarm>h1,#alarm>input,#alarm>p{
    float: left;
}
#loreAdd,#alarm>p{
    margin-top: 15px;
    width: 100px;
}
#lore{
    margin-top: 5px;
    width: 100%;
}
#vote{
    height: 40px;
    box-shadow: 0 0 3px darkgray;
    margin-bottom: 10px;
    transition: width 0.5s ease;
    border-radius: 3px;
}
#vote:hover{
    border: 1px solid black;
}
input{
    margin-bottom: 5px;
}
#scoreBoard{
    height: 200px;
}
#score{
    width: 45%;
    float: left;
    margin: auto 2.5%;
}
#score>h4{
    float: left;
    margin-right: 5px;
    line-height: 20px;
}
#score>h5{
    line-height: 20px;
}
#score>select{
    font-size: 20px;
    float: left;
    height: 25px;
    background: lightgray;
    border: none;
    box-shadow: -1px 1px 2px darkgray;
}
#score>select:focus{
    outline: none;
}
#score>button{
    text-align: left;
    height: 25px;
    box-shadow: -1px 1px 2px darkgray;
}
#fLeft{
    float: left;
    margin-right: 10px;
}
#postBoard>button{
    margin: 10px auto 10px auto;
    width: 90%;
}
#pop>#left{
    position: absolute;
    bottom: 10%;
    left: 5%;
}
#pop>#right{
    position: absolute;
    bottom: 10%;
    right: 5%;
}