<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PostDAO">

    <resultMap id="postResult" type="post">
        <id property="p_id" column="P_ID"/>
        <result property="title" column="TITLE"/>
        <result property="lore" column="LORE"/>
        <result property="id" column="ID"/>
    </resultMap>

    <select id="getPosts" resultType="post">
        SELECT *, (SELECT lore FROM test_user AS u WHERE p.id = u.id) AS u_lore
        FROM posts AS p
    </select>
    <insert id="addPost">
        INSERT INTO posts (title, lore, id, p_id)
        VALUES (#{title}, #{lore}, #{id}, (SELECT IFNULL(max(p2.p_id), 0) + 1 FROM posts p2))
    </insert>
    <delete id="delPost">
        DELETE
        FROM posts
        WHERE p_id = #{p_id}
    </delete>

</mapper>