<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="VoteDAO">

    <resultMap id="voteResult" type="vote">
        <result property="v_name" column="V_NAME"/>
        <result property="num" column="NUM"/>
        <result property="cnt" column="CNT"/>
        <result property="flg" column="FLG"/>
    </resultMap>

    <select id="getVotes" resultType="vote">
        SELECT v_name
             , num
             , (SELECT COUNT(*) FROM user_vote WHERE vote = num)                            cnt
             , IF(num = IFNULL((SELECT vote FROM user_vote WHERE id = #{v_name}), 0), 1, 0) flg
        FROM vote_data
    </select>
    <delete id="delVote">
        DELETE
        FROM user_vote
        WHERE id = #{v_name}
    </delete>
    <insert id="addVote">
        INSERT INTO user_vote(id, vote)
        VALUES (#{v_name}, #{num})
    </insert>

</mapper>